In [1]:
'''Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.'''

ed=input()
x=ed.index("@")
print(ed[x+1:len(ip)-4],end='')

ani@google.com
google

In [2]:
'''Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
'''

inp = input().split(',')
l = list(inp)
l1 = len(l)

y = sorted(l)
l = y

for i in range (l1):
    if i == l1-1:
        print(l[i],end="")
    else:
        print(l[i],end=",")

3.0

In [15]:
'''Create your own Jupyter Notebook for Sets.'''
##to create a set
set1 = {"python", "cpp", "c","dbms","java"}

for x in set1:
  print(x)

#to check if the given element is in the set 'in ' is used  
print("cpp" in set1 )

#to add the new element to the set setname.add() is  used 
set1.add("anaconda")
print(set1)

#to update the exsisting set setname.update() is used 
set1.update(["mangodb", "cpp", "java" ,"c","dbms","noej4","python"])
print(set1)

#to find the length of the set len(setname) is used 
print(len(set1))

#to remove any element from the set setname.remove() is used
set1.remove("cpp")
print(set1)

#to discard any element from the set setname.discard() is used
set1.discard("c")
print(set1)

#to pop the last element from thne set setname.pop() is used
x = set1.pop()
print(x)
print(set1)

#to clear the set setname.clear() is used
set2 = {"data struct", "os", "Mc"}
set2.clear()
print(set2)

#to join two sets setname1.union(setname2) is used
set1 = {"abc", "bcd" , "cde"}
set2 = {11, 22, 33}

set3 = set1.union(set2)
print(set3)


#to update the two set setname1.update(setname2) 
set1.update(set2)
print(set1)

#Using the set() constructor to make a set:
set1 = set(("apple", "banana", "cherry"))
print(set1)

dbms
python
java
cpp
c
True
{'dbms', 'python', 'java', 'cpp', 'c', 'anaconda'}
{'dbms', 'python', 'java', 'noej4', 'mangodb', 'cpp', 'c', 'anaconda'}
8
{'dbms', 'python', 'java', 'noej4', 'mangodb', 'c', 'anaconda'}
{'dbms', 'python', 'java', 'noej4', 'mangodb', 'anaconda'}
dbms
{'python', 'java', 'noej4', 'mangodb', 'anaconda'}
set()
{33, 'cde', 22, 'bcd', 11, 'abc'}
{33, 'cde', 22, 'bcd', 11, 'abc'}
{'banana', 'cherry', 'apple'}

In [ ]:
'''Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.'''

def getMissingNo(lst): 
    n = len(lst) 
    total = (n + 1)*(n + 2)/2
    sum_of_lst = sum(lst) 
    return total - sum_of_lst 
  
lst = [] 
m = int(input("Enter number of elements : "))  
for i in range(0, m): 
    ele = int(input()) 
    lst.append(ele)
miss = getMissingNo(lst) 
print(miss)

In [17]:
mylist = []
m = int(input("Enter number of elements : "))  
for i in range(0, m): 
    ele = int(input()) 
    mylist.append(ele)
    
mylist = list( dict.fromkeys(mylist) )
revlist = mylist[::-1]
print("The reversed list is:", revlist)

Enter number of elements : 5
1
5
6
5
6
The reversed list is: [6, 5, 1]